.selection-container {
    display: flex;
}

.selection-container h3 {
    margin-left: 24px;
    color: #ffffff94;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 8px;
}

.active {
    border-bottom: 5px solid #fed530;
    color: #fff !important;
}

.selection-container h3:hover {
    cursor: pointer;}

    @media (max-width: 768px) {
        .selection-container {
          justify-content: center;
          align-items: center;
          padding: 12px ;
          width: 100%;
        }
      
        .selection-container h3 {
          margin: 6px 6px;
          font-size: 18px;
          line-height: 24px;
          padding-bottom: 6px;
          text-align: center;
        }
      
        .active {
          border-bottom: 3px solid #fed530;
        }
      }
      
      