.menu-button {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}

.icon {
    font-size: 24px;
    color: #ffffff94;
}

.menu-button:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
    border: 0.4px solid #ffffff94 !important;
    cursor: pointer;
}

.search-input {
    width: 200px;
    background-color: rgba(0, 0, 0, 0.2) !important;
    border: none;
    border-radius: 30px;
    margin: 12px;
    height: 48px;
    color: #ffffff94 !important;
} 

.search-input input::placeholder {
    color: #ffffff94 !important;
}

.menu-container {
    display: flex;
}

@media (max-width: 768px) {
    .menu-container {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #001f3f; /* темно-синій */
      justify-content: center;
      padding: 8px 0;
      z-index: 1000;
    }
  }
  