.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 48px;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .footer-container {
        display: flex
    ;
        padding: 100px 30px;
        margin: 20px 0;
        justify-content: center;
        align-items: center;
    }
}