.watch-type-container {
    display: flex;
    align-items: center;
}

.watch-type-list {
    display: flex;
    align-items: center;
}
.watch-type-list li {
    display: flex;
    align-items: center;
    list-style: none; /* прибираємо стандартні */
    margin-right: 24px;
    font-size: 24px;
    color: #ffffff94;
    font-stretch: condensed;
  }

  .watch-type-list li:hover {
    cursor: pointer;
  }

  .watch-type-list li.watch-type-active {
    color: #fff;
  }
  
  .watch-type-list li.watch-type-active::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 8px;
    background-color: #fed530;
    border-radius: 5px;
    margin-right: 12px;
  }

  .watch-type-button {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
  }

  .watch-type-button:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .watch-type-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 0;
    }
  
    .watch-type-list {
      display: flex;
      align-items: center;
      padding: 0;
    }
  
    .watch-type-list li {
      font-size: 18px;
      margin: 0 6px;
      color: #ffffff94;
      font-stretch: condensed;
      text-align: center;
    }
  
    .watch-type-button {
      display: none;
    }
  }
  