.film-details-container {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    flex: 1;
    justify-content: flex-end;
}

.film-title {
    font-size: 61px;
    color: #fff;
    font-stretch: condensed;
    margin: 0;
}

.film-description {
    color: #fff;
    margin: 8px 0 0;
    font-size: 16px;
    line-height: 22px;
}

.film-button {
    width: 208px;
    height: 64px;
    background-color: #fed530;
    border: none;
    border-radius: 60px;
    font-weight: 600;
    font-size: 20px;
    color: #1a195c;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .film-details-container {
      max-width: 90%;
    }
  
    .film-title {
      font-size: 32px;
    }

    .film-button {
        width: 200px;
        height: 64px;
        background-color: #fed530;
        border: none;
        border-radius: 60px;
        font-weight: 600;
        font-size: 20px;
        color: #1a195c;
        margin-top: 40px;
    }
  }